  <% @users.each do |user| %>
    <div id="<%= dom_id user %>" class="row p-3 ms-5">
      <div class="col-sm-2 card">
        <img src="<% user.picture %>" alt="user picture"/>
      </div>
      <div class="col-sm-8 card">
        <p>
          <strong class="card-title"><%= user.name %></strong>
        </p>
        <p>
        <strong class="card-text">Number of Posts:</strong>
        <%= user.posts_count%>
        </p>
        <%= link_to "See user", user_path(user)%>
      </div>
</div>
  <% end %>
