<p style="color: green"><%= notice %></p>
<h1>Here is a list of users</h1>
<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "go to the user", user %>
    </p>
  <% end %>
</div>
